<% extend('../layouts/question_layout') %>

    <div class="container">
        <div class="row">
            <div class="col-6" style="border-right: 1px solid lightgrey">
                <div class="card" style="height: 100%">
                    <div class="card-body">
                        <h5 class="card-title">My thought</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Background story</h6>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea temporibus
                            animi quae, quis quia inventore nulla autem cumque expedita, veniam eum, et perspiciatis
                            eius illum laudantium eligendi. Voluptatibus, vel tempore.
                            Est voluptatibus voluptate qui similique quas corporis nulla e
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">回覆</label>
                        <div class="border border-secondary p-4">
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea temporibus
                                animi quae, quis quia inventore nulla autem cumque expedita, veniam eum, et
                                perspiciatis
                                eius illum laudantium eligendi. Voluptatibus, vel tempore.
                                Est voluptatibus voluptate qui similique quas corporis nulla e
                            </p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

