<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%- title %> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard/unans">
                <img src="/images/inbook_logo_2.png" width="150" height="30" class="d-inline-block align-top" alt="">
            </a>
            <div class="btn-group btn-group-sm mr-5" role="group">
                <a href="/dashboard/reserved" class="btn btn-outline-secondary <% if(active === 'reserved') { %> active <% } %> "> 預約查詢 </a>
                <a href="/dashboard/unans" class="btn btn-outline-secondary <% if(active === 'unans') { %> active <% } %>"> 新發問！ </a>
                <a href="/dashboard/historical" class="btn btn-outline-secondary <% if(active === 'historical') { %> active <% } %>"> 歷史回覆 </a>
                <a href="/dashboard/sold" class="btn btn-outline-secondary <% if(active === 'sold') { %> active <% } %>"> 銷售資料 </a>
            </div>
        </div>
    </nav>
    <%- content %>
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>